@model IEnumerable<SocialMediaPost>

<div class="container mt-5">
    <div class="card mb-4">
        <div card="card-header">
            <h2>Create Post</h2>
        </div>
        <div class="card-body">
            <form id="postForm" method="post" asp-controller="Social" asp-action="CreatePost" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="postForm">Whats on your mind?</label>
                    <textarea class="form-control" id="PostContent" name="PostContent" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="SubmitPost">Post</button>
            </form>
        </div>
    </div>

    <!-- Display the existing posts -->
    @foreach (SocialMediaPost post in Model)
    {
        //render each post here
        <div id="@Html.DisplayFor(item => post.PostId)" class="card mb-3">
            <div class="card-header">
                <!-- Buttons here later -->
            </div>
            <div class="card-body">
                <p>@Html.DisplayFor(item => post.PostContent)</p>
                <h6>@Html.DisplayFor(item => post.PostAuthor)</h6>
            </div>
        </div>
    }
</div>

@{
    ViewBag.Title = "Social Space";
}
